<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm('Senha incorreta')
            window.location.replace('/room/<%= room_id %>')
        </script>
    </head>
</html>