<section>
    <h2>Crie sua propria sala</h2>
    <form action="/create-room" method="POST"> 
        <label class="sr-only" for="roomPass">Insira uma senha</label>
        <input type="password" id="roomPass" name="roomPass" required placeholder="Insira uma senha">
        <button>
            <img src="images/users-white.svg" alt="Entrar na sala">
            Criar Sala
        </button>
    </form>
</section>
<section class="explanation">
    <h2 class="sr-only">Aviso</h2>
    <p>Essa senha será utilizada mais tarde, para manipulção das perguntas.</p>
</section>
